<div class="container p-4">
    <div class="row">
        {{#each listUsuario}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <p class="m-2">{{nombre}}</p>
                    <p class="m-2">{{apellido}}</p>
                    <p class="text-muted">{{correo}}</p>
                    <p class="text-muted">{{rol}}</p>
                    <a class="btn btn-danger" href="/griinvest/eliminar/{{id}}">Eliminar</a>
                    <a class="btn btn-warning" href="/griinvest/actualizar/{{id}}">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay usuarios creados</p>
                <a href="/griinvest/agregar">Agrega uno</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>