<div class="container p-4">
    <h1 class="p-4"><b>Proyectos por Aprobar</b></h1>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Costo</th>
                <th>Región</th>
                <th>Rubro</th>
                <th>Fecha Publicación</th>
                <th>Descripción</th>
                <th>Destacado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each listProyAdm}}
            <tr>
                <td>{{titulo}}</td>
                <td>{{costo_proyecto}}</td>
                <td>{{region}}</td>
                <td>{{rubro}}</td>
                <td>{{fecha_publicacion}}</td>
                <td>{{apreciacion_general}}</td>
                <td>{{destacado}}</td>
                <td>
                    <a class="btn btn-success" href="/views/listarProyAdm/{{id_proyecto}}">
                        Aprobar</a><br><br>
                    <a class="btn btn-danger" href="/views/eliminarProy/{{id_proyecto}}">
                        Eliminar</a>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>